@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
.nivo-lightbox-nav, .nivo-lightbox-close {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

/*** Mixins & Placeholders ***/
/**** caret ****/
/*@include icon-style ("\f075", 0, 1, 0, 2em);*/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/*** WP Specials ***/
/**** Filter ****/
/*** typography***/
/* Mediaqueries breakpoints */
/* Helper Classes */
/* =============================================================================
   Colors
   ========================================================================== */
/* =============================================================================
   Height & Widths
   ========================================================================== */
/* =============================================================================
   Typography
   ========================================================================== */
/* Margins & Paddings */
/** Buttons **/
/*@import 'utils/_icons';
//@import 'utils/_preloader';
@import 'base/_ui';
@import 'base/_media';*/
dt {
  font-weight: 600; }

/** depends on font-fammily**/
/* =============================================================================
  Variables & Mixins
  ========================================================================== */
h3 {
  font-size: 1.2em;
  font-weight: bold;
  /*    @media screen and (min-device-width:$screen-lg){
          font-size: 1.43vW;
      }*/
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em; }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    h3 {
      font-size: 1.2em; } }

/* =============================================================================
   Basics
   ========================================================================== */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto; }

html, body, button, input, select, textarea {
  font-family: "objektiv-mk3", Arial, Helvetica, sans-serif;
  color: #333; }

::-moz-selection {
  text-shadow: none;
  background: #404041;
  background-image: none !important;
  color: #fff; }

::selection {
  text-shadow: none;
  background: #404041;
  background-image: none !important;
  color: #fff; }

.element::-moz-selection {
  background-color: #ffbb52; }
.element::selection {
  background-color: #ffbb52; }

body {
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; }

a, a:link {
  text-decoration: none;
  cursor: pointer; }
a:visited {
  opacity: .5; }
a:visited, a:hover {
  text-decoration: none !important; }
a.external:after {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 0;
  opacity: 1;
  margin-left: 0.5em;
  font-size: 0.8em;
  speak: none; }
#comments a, .post-details a {
  color: #39b470 !important; }

h1, h2, h3, h4, legend, .number, .widgettitle {
  font-family: "objektiv-mk3", Arial, Helvetica, sans-serif !important;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
  color: red;
  line-height: 1.1;
  color: #404041; }
  h1.logo, h2.logo, h3.logo, h4.logo, legend.logo, .number.logo, .widgettitle.logo {
    margin: 2em 0 .5em 0; }
  h1 a, h2 a, h3 a, h4 a, legend a, .number a, .widgettitle a {
    text-decoration: none;
    color: #404041; }

h1 {
  font-size: 21px;
  line-height: 1;
  color: #000; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em; } }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 2em; }
      .content > h1:first-child {
        margin-top: 56px;
        font-size: 1.2em;
        padding: 0 28px;
        font-weight: bold; } }

h2 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: .05em;
  margin-top: 28px; }
  h2:after {
    content: '';
    display: block;
    height: 3px;
    width: 12%;
    background: #39b470;
    margin-top: .5em; }

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: none;
  cursor: pointer; }

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.2em; }

legend border {
  width: 1px 0 0 0;
  style: solid;
  color: #ccc;
  margin-top: 1em; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%; }

a .content {
  color: #404041; }
.page-template-template-maintenance a.post-edit-link {
  margin-top: 10vH;
  display: block; }
a.post-edit-link:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 1em;
  opacity: 1;
  margin-left: 0;
  font-size: 1em;
  speak: none; }

ul,
ol {
  padding-left: 1.5rem; }
  ul li,
  ol li {
    line-height: 150%; }

dl {
  margin: 0 0 1rem;
  line-height: 150%; }

dt {
  font-weight: bold;
  /** oder **/ }

dd {
  margin: 0 0 0.5rem; }

b, .bold, strong {
  font-weight: bold; }

p {
  font-size: 1em; }

blockquote {
  position: relative;
  margin: 1.5rem 1rem 1.5rem 3rem;
  text-align: left; }
  blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: #737373;
    font-size: 5rem;
    line-height: 1; }

address {
  font-style: normal; }
  .footer address p {
    margin-bottom: 0.2rem;
    font-size: .8rem; }
  .footer address > div {
    margin-bottom: 0.5rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #737373; }

.text-smaller {
  font-size: smaller; }

.uppercase {
  text-transform: uppercase; }

/*** tables ****/
table {
  width: 100%;
  margin-bottom: 2em; }
  table th {
    text-align: left;
    font-size: larger; }
  table tr:nth-child(odd) td {
    background: #ebebeb; }

/**** Misc ***/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* Kleinerer Text */
.s {
  font-size: 0.9em; }

@media screen and (min-width: 480px) {
  .lead, blockquote p {
    font-size: 1.143em;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 1.857em; }
    article.banner .lead, article.banner blockquote p, blockquote article.banner p, .banner-caption .lead, .banner-caption blockquote p, blockquote .banner-caption p {
      margin-bottom: 1em; }
    .panel .lead, .panel blockquote p, blockquote .panel p {
      font-size: 1em; } }

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.btn {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 0;
  box-shadow: none;
  padding: 0.7em 1em;
  font-size: 1em;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .row.submit .btn {
      margin-bottom: 1em; } }
  .btn:hover, .btn:focus {
    color: #fff; }
  .btn.btn-inverse {
    background-color: #000;
    color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    text-shadow: none; }
    .button-group .btn.btn-inverse {
      margin-right: 1em;
      color: #fff; }
  .btn.btn-small {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 0;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 0.85em;
    line-height: 1; }
  .box .btn {
    color: #fff; }
  .btn[disabled] {
    opacity: 1; }

.iframe-elastic {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden; }
  .iframe-elastic iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.no-display {
  display: none; }

body:not(.page-template-template-maintenance),
body:not(.error404) {
  background: #FAFAFA; }

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 14px; } }
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 28px; } }
@media screen and (min-width: 480px) {
  .wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .wrapper:before, .wrapper:after {
      content: "";
      display: table;
      clear: both; } }
.wrapper > .row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    body > .header > .wrapper > .wrapper > .row {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; }
    body > main > .wrapper > .wrapper > .row {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      body > main > .wrapper > .wrapper > .row .sidebar {
        display: none; } }
  @media screen and (max-width: 768px) {
    .wrapper > .row {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; }
      .wrapper > .row .content {
        width: 75%; }
      .wrapper > .row .sidebar {
        width: 25%; } }

@media screen and (min-width: 768px) {
  .header .logo {
    margin: 28px 0;
    text-align: center; } }
.header .logo img {
  width: 300px;
  height: auto;
  max-width: none; }
.header .logo span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.05em;
  text-align: center;
  color: #000;
  display: block;
  margin-top: 28px; }

.header-image {
  min-height: 25vH;
  max-height: 50vH;
  background-position: center center;
  background-attachment: fixed; }

.sidebar {
  margin: 28px 0; }
  .sidebar .search, .sidebar [class*="widget_"] {
    padding: 28px 0; }

.footer {
  text-align: center; }

.page-template-template-maintenance, .error404, .archive {
  background: -webkit-linear-gradient(180deg, #cbcdd0, white) !important;
  background: linear-gradient(180deg, #cbcdd0, white) !important;
  background-attachment: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-height: 100vH;
  font-size: 14px; }
  @media screen and (max-width: 568px) {
    .page-template-template-maintenance, .error404, .archive {
      background: #fff !important;
      border: 1px solid #39b470; } }
  @media screen and (min-width: 480px) {
    .page-template-template-maintenance .wrapper-maintenance, .error404 .wrapper-maintenance, .archive .wrapper-maintenance {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      padding: 0 14px; }
      .page-template-template-maintenance .wrapper-maintenance:before, .page-template-template-maintenance .wrapper-maintenance:after, .error404 .wrapper-maintenance:before, .error404 .wrapper-maintenance:after, .archive .wrapper-maintenance:before, .archive .wrapper-maintenance:after {
        content: "";
        display: table;
        clear: both; }
      .page-template-template-maintenance .wrapper-maintenance > div, .error404 .wrapper-maintenance > div, .archive .wrapper-maintenance > div {
        margin: 28px 0; } }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .page-template-template-maintenance .wrapper-maintenance, .error404 .wrapper-maintenance, .archive .wrapper-maintenance {
      padding: 0 14px; } }
  .page-template-template-maintenance .wrapper-maintenance > main, .error404 .wrapper-maintenance > main, .archive .wrapper-maintenance > main {
    background: #fff; }
    @media screen and (orientation: landscape) {
      .page-template-template-maintenance .wrapper-maintenance > main, .error404 .wrapper-maintenance > main, .archive .wrapper-maintenance > main {
        min-width: 452px;
        /*$screen-xs -$outer-grid*/ } }
    @media screen and (min-width: 569px) {
      .page-template-template-maintenance .wrapper-maintenance > main, .error404 .wrapper-maintenance > main, .archive .wrapper-maintenance > main {
        -webkit-box-shadow: 5px 5px 0 0 rgba(57, 180, 112, 0.75);
        box-shadow: 5px 5px 0 0 rgba(57, 180, 112, 0.75);
        min-width: 480px; } }
    .page-template-template-maintenance .wrapper-maintenance > main .logo, .error404 .wrapper-maintenance > main .logo, .archive .wrapper-maintenance > main .logo {
      margin: 0 auto;
      width: 75%; }
    .page-template-template-maintenance .wrapper-maintenance > main article, .error404 .wrapper-maintenance > main article, .archive .wrapper-maintenance > main article {
      padding: 0 28px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute; }
      @media screen and (min-width: 568px) {
        .page-template-template-maintenance .wrapper-maintenance > main article, .error404 .wrapper-maintenance > main article, .archive .wrapper-maintenance > main article {
          padding: 63px 49px 56px 49px; } }
  .page-template-template-maintenance h2, .error404 h2, .archive h2 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.05em;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .page-template-template-maintenance h2, .error404 h2, .archive h2 {
        margin: 3vH 0; } }
    @media screen and (min-width: 768px) {
      .page-template-template-maintenance h2, .error404 h2, .archive h2 {
        margin: 3vH 0 1vH; } }
    .page-template-template-maintenance h2 em, .error404 h2 em, .archive h2 em {
      font-weight: normal;
      font-size: smaller;
      text-transform: lowercase;
      letter-spacing: 0; }
    .page-template-template-maintenance h2:after, .error404 h2:after, .archive h2:after {
      display: none; }
  .page-template-template-maintenance address, .error404 address, .archive address {
    font-weight: 400;
    text-align: left; }
    .page-template-template-maintenance address > div, .error404 address > div, .archive address > div {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      @media screen and (max-width: 767px) and (orientation: portrait) {
        .page-template-template-maintenance address > div, .error404 address > div, .archive address > div {
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; }
          .page-template-template-maintenance address > div:first-child, .error404 address > div:first-child, .archive address > div:first-child {
            margin-bottom: 1em; }
          .page-template-template-maintenance address > div a, .error404 address > div a, .archive address > div a {
            padding: .5em 0; } }
  @media screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: landscape) {
    .page-template-template-maintenance address > div, .error404 address > div, .archive address > div {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; } }

.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .pagination * {
    padding: .5em;
    display: inline-block;
    border-left: 1px solid #ccc;
    line-height: 1; }
    .pagination *:first-child {
      border: 0; }
  .pagination a {
    color: #39b470; }
  .pagination span {
    color: #333; }

article {
  display: block;
  background: white;
  border: 1px solid #ccc;
  position: relative;
  max-width: 95%;
  margin: 0 auto 28px;
  padding: 28px; }
  .page-template-template-maintenance article, .error404 article, .archive article {
    border: 0; }
  article .home.has-post-thumbnail, article .archive.has-post-thumbnail, article .author.has-post-thumbnail {
    float: left;
    margin-right: 14px; }
  article .post-details {
    font-size: 1.2rem;
    color: #333; }
    article .post-details:before, article .post-details:after {
      content: "";
      display: table;
      clear: both; }
    article .post-details.top {
      border-bottom: 1px solid #ccc;
      padding-bottom: 14px;
      margin-bottom: 28px; }
    article .post-details.bottom {
      border-top: 1px solid #ccc;
      padding-top: 14px;
      margin-top: 28px; }
    article .post-details .comments {
      float: right; }
  article .post-edit-link {
    color: #333;
    display: block;
    text-align: right; }
  article #comments {
    margin-top: 56px;
    padding-top: 56px;
    border-top: 1px solid #ccc; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
img {
  max-width: 100%;
  height: auto; }
  .logo img {
    max-width: none;
    width: 100%;
    height: auto; }
  img[class*="wp-image"].alignleft, a img[class*="wp-image"].alignleft {
    display: inline;
    float: left;
    margin-right: 14px; }
  img[class*="wp-image"].alignright, a img[class*="wp-image"].alignright {
    display: inline;
    float: right;
    margin-left: 14px; }
  img[class*="wp-image"].aligncenter, a img[class*="wp-image"].aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px; }
  img[class*="wp-image"].alignnone, a img[class*="wp-image"].alignnone {
    display: block;
    margin-bottom: 14px; }

div.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px; }

.wp-caption {
  background: #FAFAFA;
  border: 1px solid #ccc;
  max-width: 96%;
  padding: .5rem .3rem 1rem;
  text-align: center; }

.wp-caption.alignnone {
  margin: .5rem 2rem 2rem; }

.wp-caption.alignleft {
  margin: .5rem 2rem 2rem 0; }

.wp-caption.alignright {
  margin: .5rem 0 2rem 2rem; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 .4rem .5rem; }

/*------------------------------------------------
Nivo Lightbox
--------------------------------------------------*/
.nivo-lightbox-overlay.nivo-lightbox-open {
  background-color: #404040;
  background-color: rgba(0, 0, 0, 0.75); }

a[class*="nivo-lightbox"] {
  color: white; }

.nivo-lightbox-nav, .nivo-lightbox-close {
  display: block;
  background: transparent url(../img/nivo-icons.png) no-repeat 0% 0%;
  width: 26px;
  height: 26px; }

.nivo-lightbox-close {
  top: 10%;
  right: 10%; }

.nivo-lightbox-nav.nivo-lightbox-prev {
  left: 10%;
  background-position: 0% 100%; }
.nivo-lightbox-nav.nivo-lightbox-next {
  right: 10%;
  background-position: 0% 50%; }

/*------------------------------------------------
gallery
--------------------------------------------------*/
[class*='gallery-columns'] {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /*    @include justify-content(space-between);*/
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  margin: -1em; }

.gallery-item {
  margin: 1em; }
  .gallery-item a {
    display: block;
    width: inherit; }
    .gallery-item a img {
      -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      width: 100%;
      height: auto; }
  .gallery-columns-1 .gallery-item {
    -webkit-flex-basis: calc(100%/1 - 2em);
    -moz-flex-basis: calc(100%/1 - 2em);
    flex-basis: calc(100%/1 - 2em);
    -ms-flex-preferred-size: calc(100%/1 - 2em);
    -ms-flex-preferred-size: calc(100%/1 - 2.5em); }
  .gallery-columns-2 .gallery-item {
    -webkit-flex-basis: calc(100%/2 - 2em);
    -moz-flex-basis: calc(100%/2 - 2em);
    flex-basis: calc(100%/2 - 2em);
    -ms-flex-preferred-size: calc(100%/2 - 2em);
    -ms-flex-preferred-size: calc(100%/2 - 2.5em); }
  .gallery-columns-3 .gallery-item {
    -webkit-flex-basis: calc(100%/3 - 2em);
    -moz-flex-basis: calc(100%/3 - 2em);
    flex-basis: calc(100%/3 - 2em);
    -ms-flex-preferred-size: calc(100%/3 - 2em);
    -ms-flex-preferred-size: calc(100%/3 - 2.5em); }
  .gallery-columns-4 .gallery-item {
    -webkit-flex-basis: calc(100%/4 - 2em);
    -moz-flex-basis: calc(100%/4 - 2em);
    flex-basis: calc(100%/4 - 2em);
    -ms-flex-preferred-size: calc(100%/4 - 2em);
    -ms-flex-preferred-size: calc(100%/4 - 2.5em); }
  .gallery-columns-5 .gallery-item {
    -webkit-flex-basis: calc(100%/5 - 2em);
    -moz-flex-basis: calc(100%/5 - 2em);
    flex-basis: calc(100%/5 - 2em);
    -ms-flex-preferred-size: calc(100%/5 - 2em);
    -ms-flex-preferred-size: calc(100%/5 - 2.5em); }
  .gallery-columns-6 .gallery-item {
    -webkit-flex-basis: calc(100%/6 - 2em);
    -moz-flex-basis: calc(100%/6 - 2em);
    flex-basis: calc(100%/6 - 2em);
    -ms-flex-preferred-size: calc(100%/6 - 2em);
    -ms-flex-preferred-size: calc(100%/6 - 2.5em); }
  .gallery-columns-7 .gallery-item {
    -webkit-flex-basis: calc(100%/7 - 2em);
    -moz-flex-basis: calc(100%/7 - 2em);
    flex-basis: calc(100%/7 - 2em);
    -ms-flex-preferred-size: calc(100%/7 - 2em);
    -ms-flex-preferred-size: calc(100%/7 - 2.5em); }
  .gallery-columns-8 .gallery-item {
    -webkit-flex-basis: calc(100%/8 - 2em);
    -moz-flex-basis: calc(100%/8 - 2em);
    flex-basis: calc(100%/8 - 2em);
    -ms-flex-preferred-size: calc(100%/8 - 2em);
    -ms-flex-preferred-size: calc(100%/8 - 2.5em); }
  .gallery-columns-9 .gallery-item {
    -webkit-flex-basis: calc(100%/9 - 2em);
    -moz-flex-basis: calc(100%/9 - 2em);
    flex-basis: calc(100%/9 - 2em);
    -ms-flex-preferred-size: calc(100%/9 - 2em);
    -ms-flex-preferred-size: calc(100%/9 - 2.5em); }

.btn:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  outline: none; }

.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  margin: 0 .5em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  box-shadow: none;
  padding: 1em;
  font-size: 1em;
  line-height: 1;
  background: #000;
  color: #fff; }

input[type="text"],
input[type="date"],
input[type="email"],
input[type="confirm_email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background-color: #FAFAFA;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 2% 5%; }
  @media screen and (max-width: 480px) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 100%; } }
  @media screen and (min-device-width: 769px) and (orientation: portrait) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 90%;
      /*_NO__DOTCOMMA__AFTER__ */ } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

body:not(.ie) select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  background-image: url("../img/bg-select.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  width: 100%; }

textarea {
  max-height: 120px;
  overflow: auto;
  resize: vertical; }

label {
  font-weight: 400;
  display: block; }

.wpcf7 {
  margin-bottom: 2em; }
  .wpcf7 .row {
    margin-right: 0;
    margin-left: 0; }
  .wpcf7 .row.submit {
    margin-top: 2em;
    text-align: right; }
  .wpcf7 .row:not(.submit) {
    margin-bottom: 28px; }
  .wpcf7 .row.checkbox > [class*="-12"] {
    padding: 0;
    margin: 0; }
  .wpcf7 img#captcha {
    max-width: none;
    width: auto;
    height: 36px;
    margin-right: 1em; }

.wpcf7-form-control-wrap {
  display: block;
  width: 100%; }
  .wpcf7-form-control-wrap > * {
    width: 100%; }
  .wpcf7-form-control-wrap input[type="checkbox"] {
    position: static;
    margin-top: 0;
    margin-left: 1em; }
  .wpcf7-form-control-wrap input[type="checkbox"].wpcf7-acceptance {
    float: left;
    height: 1em;
    width: 1em;
    margin-right: 1em;
    /*left:0;*/
    /*        margin-bottom:2em;*/ }
  .wpcf7-form-control-wrap > .wpcf7-checkbox {
    display: block;
    /*special for Contact/Appointments*/ }
    .wpcf7-form-control-wrap > .wpcf7-checkbox#time {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      .wpcf7-form-control-wrap > .wpcf7-checkbox#time:before, .wpcf7-form-control-wrap > .wpcf7-checkbox#time:after {
        content: "";
        display: table;
        clear: both; }
      .wpcf7-form-control-wrap > .wpcf7-checkbox#time .wpcf7-list-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .wpcf7-form-control-wrap > .wpcf7-checkbox#time .wpcf7-list-item:last-child {
          margin-right: 0; }
      .wpcf7-form-control-wrap > .wpcf7-checkbox#time .wpcf7-list-item:nth-child(even) {
        margin-right: 0; }

.wpcf7-not-valid,
.wpcf7-validation-errors,
.wpcf7-message-mail-sent-ng,
.wpcf7-message-spam,
.wpcf7-message-invalid-email,
.wpcf7-message-upload-failed-php-error {
  border: 2px solid #DB221C !important;
  background: #fcf8e3; }

.wpcf7-message-accept-terms,
.wpcf7-message-upload-failed,
.wpcf7-message-upload-file-type-invalid,
.wpcf7-message-upload-file-too-large {
  background: #DB221C;
  color: #fff; }

.wpcf7-mail-sent-ok {
  font-size: large;
  color: #21A356;
  font-style: italic;
  line-height: 2;
  padding: 2em;
  border: 0;
  background: transparent; }

/*

@import 'base/_maps';

@import 'modules/_carousel';
@import 'modules/_banner';
@import 'modules/_panels';
@import 'modules/_accordions';
@import 'modules/_events';
@import 'modules/_infographic';*/
/*
@import 'modules/_widgets';
@import 'modules/_posts';*/
/** navigation Items */
li[class*="item"] {
  list-style: none;
  position: relative; }
  li[class*="item"].menu-item-has-children > .icon {
    position: absolute;
    top: 1.125rem;
    right: 1.5rem;
    display: inline-block; }
    li[class*="item"].menu-item-has-children > .icon:after {
      font-family: 'FontAwesome';
      content: "";
      padding-right: 0;
      opacity: 1;
      margin-left: 0.5em;
      font-size: 1em;
      speak: none;
      color: #39b470; }
      @media screen and (max-width: 1023px) {
        li[class*="item"].menu-item-has-children > .icon:after {
          font-size: 2em; } }
    li[class*="item"].menu-item-has-children > .icon.open:after {
      content: "\f0da"; }
  header nav > ul li[class*="item"] {
    font-family: "objektiv-mk3", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-weight: 400;
    color: #404041; }
    header nav > ul li[class*="item"] > a {
      color: inherit; }
  nav#off-nav ul li[class*="item"] {
    font-family: "objektiv-mk3", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-align: left; }
    nav#off-nav ul li[class*="item"] > a {
      color: inherit; }
    nav#off-nav ul li[class*="item"] a {
      display: block;
      position: relative;
      font-family: "objektiv-mk3", Arial, Helvetica, sans-serif !important;
      color: white;
      line-height: 1.2;
      padding: 1em;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: currentColor; }
    nav#off-nav ul li[class*="item"] .sub-menu > li {
      text-transform: none; }

@media screen and (max-width: 1024px) {
  .sub-menu {
    display: none; }
    .sub-menu.show {
      display: block; } }

/*responsive Display & Position*/
@media screen and (max-width: 480px) {
  .navbar-toggle {
    position: fixed; } }
@media screen and (max-width: 1024px) {
  .navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99999;
    height: 44px;
    width: 44px;
    transform: rotate(0deg);
    cursor: pointer; }
    .navbar-toggle span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      opacity: 1;
      left: 0;
      -webkit-border-radius: 9px;
      border-radius: 9px;
      overflow: hidden;
      transform: rotate(0deg);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .navbar-toggle span:nth-child(1) {
        top: 0px; }
      .navbar-toggle span:nth-child(2), .navbar-toggle span:nth-child(3) {
        top: 12px; }
      .navbar-toggle span:nth-child(4) {
        top: 24px; }
    .navbar-toggle.open span:nth-child(1), .navbar-toggle.open span:nth-child(4) {
      top: 12px;
      width: 0%;
      left: 50%; }
    .navbar-toggle.open span:nth-child(2) {
      transform: rotate(-45deg); }
    .navbar-toggle.open span:nth-child(3) {
      transform: rotate(45deg); }
    .navbar-toggle > span {
      background: #39b470; }
    .navbar-toggle.open > span {
      background: white; } }

@media screen and (max-width: 1024px) {
  #off-nav {
    position: fixed;
    top: -150%;
    left: 0%;
    right: 0;
    z-index: 9999;
    bottom: 100%;
    background: rgba(64, 64, 65, 0.9);
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    overflow: scroll;
    top: 0%;
    bottom: 0;
    opacity: 1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    #off-nav.open {
      top: 0%;
      bottom: 0;
      opacity: 1;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; } }
@media screen and (min-width: 768px) {
  #off-nav {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; } }
#off-nav ul {
  padding: 0;
  margin: 0; }
#off-nav > ul {
  text-transform: uppercase;
  border-top: 2px solid white;
  padding: 5rem 0 3rem 0;
  /*            */ }
  @media screen and (max-width: 568px) {
    #off-nav > ul {
      width: 100%;
      text-align: left; } }
  @media screen and (min-width: 768px) {
    #off-nav > ul {
      min-width: 50vW; } }
#off-nav ul, #off-nav li {
  list-style: none;
  color: inherit; }

/*# sourceMappingURL=screen.css.map */
