/** navigation Items */
li[class*="item"]{
    list-style: none;
    position:relative;
    &.menu-item-has-children {
        > .icon{
            position:absolute;
            top: 1.125rem;
            right: 1.5rem;
            display:inline-block;
            &:after{
                @include icon-style ("\f0d7", 0, 1, .5em, 1em);
                color:$brand-secondary;
                @media screen and (max-width:$screen-pad-landscape - 1){font-size:2em;}
            }
            &.open:after{content:"\f0da";}
        }
    }
    
    header nav > ul & {
        @include main-menu(400,$brand-primary);
    }
    nav#off-nav ul & {
        @include main-menu(400,white);
        text-align:left;
        a{
            display:block;
            position:relative;
            font-family:$headings-font-family;
            color:white;
            line-height:1.2;
            padding:1em;
            border:{
                width:0 0 2px 0;
                style:solid;
                color:currentColor;
            }
        }
        .sub-menu > li{text-transform:none;}
    }
    
}
.sub-menu{
    @media screen and (max-width:$screen-pad-landscape){
        display:none;
        &.show{
            display:block;
        }
    }
}
/*responsive Display & Position*/
.navbar-toggle{
    @media screen and (max-width:$screen-xs){
        position:fixed;
    }
    @media screen and (max-width:$screen-pad-landscape){
        position:absolute;
        top:1rem;
        right:1rem;
        z-index:99999;
        @include toggle-nav-bar(44px,6px);
        > span{
            background: $brand-secondary;
        }
        &.open > span{
            background:white;
        }
    }
}
#off-nav{
    @media screen and (max-width:$screen-pad-landscape){
        position: fixed;
        top: -150%;
        left: 0%;
        right:0;
        z-index: 9999;
        bottom:100%;
        background: rgba( $brand-primary, .9 );
        opacity:0;
        @include transition(all .25s ease-in-out);
        overflow:scroll;
        top: 0%;
        bottom:0;

        opacity:1;
        &.open{
            top: 0%;
            bottom:0;

            opacity:1;
            @include transition(all .25s ease-in-out);
        }
        @include display(flex);
        
    }
    @media screen and (min-width:$screen-sm){
        @include justify-content(center);
    }
    ul{
        padding:0;
        margin:0;
    }
    > ul{
        text-transform: uppercase;
        border-top:2px solid white;
        padding:5rem 0 3rem 0;
        @media screen and (max-width:$screen-iPhone5){
            width:100%;
            text-align:left;
        }
        @media screen and (min-width:$screen-sm){
            min-width:50vW;  
        }

        /*            */
    }
    ul, li{
        list-style:none;
        color:inherit;
    }

}
