.navbar-toggle{
    position: relative;
    input{
        display:none;
        @media screen and (max-width:$screen-pad-landscape - 1){
            &:checked + #main-nav {
                height:auto;       
                @include transition (all, .2s, ease-out);
            }
        }
    }
    .button{
        @media screen and (max-width:$screen-pad-landscape - 1){
            position:absolute;
            top:0;
            right:0;
            &:after{
                @include icon-style ("\f0c9", 0, 1, 0, 3em);
            }
        }
    }
    &.sticky{@include sticky-menu;}
}
nav#main-nav{
    @include transition (all, 200ms, ease-out);
    margin:0 auto;
    @media screen and (max-width:$screen-xs){
        margin:0 -$outer-grid;
    }
    @media screen and (max-width:$screen-pad-landscape - 1){
        height:0;
        overflow:hidden;
    }
    ul{
        padding:0;
        @media screen and (min-width:$screen-pad-landscape){
            @include display(flex);
            @include justify-content(center);
            margin:$vertical-spacing auto;
        }
    }
    .sticky &{
        ul{
            @include justify-content(space-between);
            @include align-items(center);
        }
    }
}
li[class*="item"]{
    list-style: none;
    &.home a{
        display:none;
    }
    .sticky &.home{
        a{
            display:block;
            @include text-indent(-9999px);
            background:transparent url('../img/logo-av-small.svg') no-repeat left center ;
            height: 2em;
            width: 4em;
        }
        &:after{display:none;}
    }
    #main-nav > ul & {
        @include main-menu(400,$brand-primary);
        &.menu-item-has-children > a:after{
            @include icon-style ("\f0d7", 0, 1, .5em, 1em);
            color:$brand-secondary;
        }
        @media screen and (max-width:$screen-xs){
            border-top:1px solid $brand-secondary;
            padding:1rem 0;
            a{
                padding:0 1rem;
            }
        }
        @media screen and (max-width:$screen-pad-landscape - 1){
            display:block;
        }
        @media screen and (min-width:$screen-pad-landscape + 1){
            position:relative;
            &:after {
                content: "/";
                font-weight:bold;
                color:$brand-secondary;
                padding:0 .5em;
            }
        }
    }
    &:hover{
        > .sub-menu {
            opacity:1;
            top:.75*$vertical-spacing;
        }

    }
    .sub-menu &{
        @media screen and (min-width:$screen-pad-landscape){
            display:block;
        border-bottom:1px solid $brand-secondary;
        padding:1.5rem 0;
        line-height:1.2;
        text-transform:none;
        white-space:nowrap;
        &:last-of-type{border:0;}
        }

    }

}
.sub-menu{
    @media screen and (max-width:$screen-pad-landscape - 1){
        
    }
    @media screen and (min-width:$screen-pad-landscape){
        background:rgba(0,0,0,.75);
        @include box-shadow-green;
        padding:0 2rem;
        position:absolute;
        top:2.5*$vertical-spacing;
        z-index:10;
        min-width:10vW;
        opacity:0;
        @include transition(all 0.2s ease-in-out);
        a {color:lighten($text-color,90%) !important;}
        .sub-menu {
            left:100%;
        }

    }
}