body:not(.page-template-template-maintenance),
body:not(.error404){
    background:$body-bg;
}
.wrapper{
    @media screen and (max-width:$screen-xs){
        padding:$outer-grid/2;
    }
    @media screen and (max-width: $screen-sm){
        padding:$outer-grid; 
    }
    @media screen and (min-width:$screen-xs){
        @include outer-container(1200px);

    }
    > .row{
        @include display(flex);  
        @media screen and (max-width: $screen-sm){
            body > .header > .wrapper > &{
                @include flex-direction(row);
            }
            body > main > .wrapper > &{
                @include flex-direction(column);
                .sidebar{
                    display:none;
                }
            }
        }
        @media screen and (max-width: $screen-sm){
            @include flex-direction(row);
            .content{
                width:75%;
            }
            .sidebar{
                width:25%;
            }
        }
    }
}

.header {
    .logo {
        @media screen and (min-width: $screen-sm){
            margin:$vertical-spacing 0;
            text-align:center;
        }

        img {
            width: 300px;
            height: auto;
            max-width: none;
        }
        span{
            @include tag-line;
            display:block;
            margin-top:$vertical-spacing;
        }
    }
    &.sticky .logo{
        
    }
    
} 
.header-image{
    min-height: 25vH;
    max-height: 50vH;
    background-position: center center;
    background-attachment: fixed;
}
.content{}
.sidebar{
    margin:$vertical-spacing 0;
    .search, [class*="widget_"]{
        padding:$vertical-spacing 0; 
    }
}
.footer{text-align: center;}