.pagination{
    @include display(flex);
    @include justify-content(center);
    *{
        padding:.5em;
        display:inline-block;
        border-left:1px solid $border-color;
        line-height:1;
        &:first-child{border:0;}
    }
    a{color:$brand-secondary;}
    span{color:$text-color;}
}